.Intro {
  display: flex;
  margin: 55px 40px 15px;
  gap: 150px;
}

.Intro__text {
  max-width: 800px;
}

.Intro__mission-statement {
  font-family: BebasNeue-Regular, sans-serif;
  color: black;
  font-size: 55px;
  font-weight: bold;
}

.intro__text_small {
  font-family: BebasNeue-Regular, sans-serif;
  color: black;
  font-size: 24px;
}

.intro__invitation {
  font-family: BebasNeue-Regular, sans-serif;
  color: black;
  font-size: 16px;
}

.Intro__logo-image {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
