.AboutUs {
  margin: 0;
  max-width: 1250px;
  padding: 0px 15px 0px;
  margin: 15px auto 15px;
  font-family: BebasNeue-Regular, sans-serif;
}

.AboutUs__title {
  border-bottom: 3px solid black;
  font-size: 55px;
  max-width: 350px;
  margin: 0 auto 0;
  padding: 10px;
}

.AboutUs__text {
  max-width: 550px;
  margin: 15px auto 0;
  font-size: 24px;
  padding: 10px;
}

@media screen and (max-width: 880px) {
}

@media screen and (max-width: 730px) {
  .AboutUs__text {
    max-width: 450px;
    margin: 15px auto 0;
    font-size: 16px;
    padding: 5px;
  }
}

@media screen and (max-width: 440px) {
}
