.Footer {
  display: flex;
  font-family: BebasNeue-Regular, sans-serif;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  padding: 10px;
}

.Footer__date {
  margin-right: 35px;
}

@media screen and (max-width: 730px) {
  .Footer {
    margin-top: 80px;
  }
}

@media screen and (max-width: 430px) {
  .Footer__date {
  }
  .Footer__name {
  }
}
