.Employee {
  display: flex;
  gap: 20px;
  font-family: BebasNeue-Regular, sans-serif;
  margin-top: 75px;
}

.Employee__picture-image {
  max-width: 300px;
  max-height: 150px;
  border-radius: 10px;
}

.Employee__description {
  font-size: 24px;
  max-width: 600px;
}

@media screen and (max-width: 880px) {
  .Employee__description {
    font-size: 16px;
  }
  .Employee__picture-image {
    max-width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 730px) {
  .Employee {
    flex-direction: column;
  }
  .Employee__description {
    max-width: 100%;
  }
}
